<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>CORE Vaccine</th>
        <th>Frequency</th>
        <th><%= pet.name %>'s last vaccination date</th>
        <th>next vaccination due</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Rabies</td>
        <td>Every 3 years</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Distemper</td>
        <td>Every 3 years</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Adenovirus</td>
        <td>Every 3 years</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 4 -->
      <tr>
        <th>4</th>
        <td>Parvovirus</td>
        <td>Every 3 years</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 5 -->
      <tr>
        <th>5</th>
        <td>+/- Parainfluenza</td>
        <td>Every 3 years</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
    </tbody>
  </table>
</div>