<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>NON-CORE Vaccine</th>
        <th>Frequency</th>
        <th><%= pet.name %>'s last vaccination date</th>
        <th>next vaccination due</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Leptospira</td>
        <td>Annual</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Lyme Disease</td>
        <td>Annual</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Bordetella</td>
        <td>Annual</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 4 -->
      <tr>
        <th>4</th>
        <td>Canine influenza</td>
        <td>Annual</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
      <!-- row 5 -->
      <tr>
        <th>5</th>
        <td>Rattlesnake Toxoid</td>
        <td>Annual</td>
        <td>date in the past</td>
        <td>another date in the future</td>
      </tr>
    </tbody>
  </table>
</div>