<!-- TODO include header/footer partials -->
<!-- TODO actually figure out how to get this out -->


<h2>Pet Vaccine Report</h2>
<p>There are three CORE vaccines</p>

<p>Vaccine Schedule built according to <a href="https://www.aaha.org/aaha-guidelines/2022-aaha-canine-vaccination-guidelines/home/">2022 AAHA Canine Vaccination Guidelines</a></p>

<h3>According to the guidelines, all dogs should have the following:</h3>

<ul>
    <li>
        Distemper
        Your Dog's vaccination for Distemper { // if vaccine recorded? 'expires' dateofexpiry : 'is not recorded, is your canine protected from Distemper?' }
    </li>
    <li>Adenovirus</li>
    <li>Parvovirus</li>
    <li> +/- Parainfluenza</li>
    <li>Rabies</li>
</ul>

<h3>In addition to these, other vaccines are just as essential for some dogs based on their lifestyle and risk. These include:</h3>

<ul>
    <li>Leptospira (should be considered for all dogs based on increasing prevalence)</li>
    <li>Lyme disease</li>
    <li>Bordetella</li>
    <li>Canine influenza</li>
    <li>Rattlesnake toxoid</li>
</ul>

