<%- include('partials/splashheader') -%>

<main class="container">
  <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <%
    messages.info.forEach( el => { %>
    <div class="alert alert-info"><%= el.msg %></div>
    <% }) %> <% } %>  
    <div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Welcome!</h1>
      <p class="py-6">Create your PetVax Account now and begin storing your pets' important documents</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
      <form action="/signup" method="POST">
        <input type="hidden" name="remember" value="true">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="text" placeholder="email" class="input input-bordered" 
              id="exampleInputEmail1" 
              name="email" 
              autocomplete="email" 
              aria-describedby="emailHelp"
              required  />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input placeholder="password" class="input input-bordered"
              id="password" 
              name="password" 
              type="password"
              placeholder="password" 
              autocomplete="current-password" 
              required  
              />
        {newstuff = null}
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="password" placeholder="Confirm Password" class="input input-bordered" 
              id="confirmPassword" 
              name="confirmPassword" 
              aria-describedby="confirmPassword"
              required  />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">UserName</span>
          </label>
          <input type="text" placeholder="Full Name" class="input input-bordered" 
              id="userName" 
              name="userName" 
              autocomplete="name" 
              aria-describedby="name"
              required  />
        </div>
        
        {newstuff = null}
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div> 
  
</main>

<%- include('partials/footer') -%>
